body{
    background-color: rgba(255, 0, 98, 0.774);

}
body h1{
    color: green;
}
body h2{
    color: burlywood;
}
body h3{
    color: red;
}
body h4{
    color:yellow;
}
body h5{
    color:brown;
}
body h6{
    color:greenyellow;
    text-size-adjust: 10%;
}
.thoughtbot {
    width: 180 px;
    background-color: #ee432e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
    background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);